page-home {
    ion-content {
        background-image: url('../assets/imgs/russia.jpg');
        background-repeat: repeat;
        background-size: 100px 70px;
    }
    .marginB {
        margin-bottom: 0%;
    }
}